<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Out
lined:opsz,wght,FILL,GRAD@48,300,0,0&display=block"
/>

<h1>{{ title }}</h1>

<nav>
  <ul>
    <li class="app-st-active">
      <a
        style="
          color: black;
          background-color: #fff;
          padding: 10px;
          border-radius: 8px;
          font-weight: bold;
        "
        routerLink="star-war"
        >Star War</a
      >
    </li>

    <li class="app-st-active">
      <a
        style="
          color: black;
          background-color: #fff;
          padding: 10px;
          border-radius: 8px;
          font-weight: bold;
        "
        routerLink="google"
        >Google</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<style>
  li {
    margin-bottom: 30px;
  }
</style>
