<form [formGroup]="formGroup" (ngSubmit)="doSubmit()">
  <mat-form-field color="primary" appearance="outline">
    <mat-label>Summary</mat-label>
    <input type="text" matInput formControlName="summary" />
    <mat-hint>The summary of event</mat-hint>
    <mat-error>Required</mat-error>
  </mat-form-field>
  <mat-form-field color="primary" appearnce="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input
        matStartDate
        placeholder="Start date"
        formControlName="start"
        required=""
      />
      <input
        matEndDate
        placeholder="End date"
        formControlName="end"
        required=""
      />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-error>Required !</mat-error>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <div>
    <button type="submit" mat-stroked-button>
      <mat-icon>add</mat-icon>
      Create
    </button>
  </div>
</form>
