<nav>
  <ul>
    <li>
      <a
        style="
          color: black;
          background-color: #fff;
          padding: 10px;
          border-radius: 8px;
          font-weight: bold;
        "
        routerLink="events"
        >Event</a
      >
    </li>
    <br />
    <li>
      <a
        style="
          color: black;
          background-color: #fff;
          padding: 10px;
          border-radius: 8px;
          font-weight: bold;
        "
        routerLink="contacts"
        >Contact</a
      >
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
